body {
  margin: 0 auto;
  max-width: 40rem;
  overflow-wrap: break-word;
  padding: 1rem;
  background-color: #ffe;
  color: #111;
  line-height: 1.5;
  font-family: sans-serif;
}

a {
  color: #009;
}

pre {
  overflow-x: auto;
  border: 1px solid;
  padding: 0.25em 0.5em;
  background-color: #eef;
}

footer {
  padding-top: 1em;
  border-top: 1px solid;
}

.post-list {
  list-style: disc;
  padding-left: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #112;
    color: #eed;
  }

  a {
    color: #aaf;
  }

  pre {
    background-color: #223;
  }
}
